#footer{
  margin-top: 30px;
  padding: 20px;
  color: #fff;
  background:black;
}

.navheader{

  background-color: rgb(0, 180, 6);
  color: white;

}

.colo.a{
  font-family: "Courier New";
  color: white;
}

.logogif{
  max-height: 100px;
}

.event{
  background-color: lightblue;
}

.caro{
  max-height: fit-content;
}

.app{
  background-color: green;
}